// Place all the styles related to the bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail {
  width: 100%;
}

.band-card {
  border: solid 1px #ccc;
  border-radius: 9px;
  padding: 0 15px 15px 15px;
}
